<!doctype html>
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8 oldie"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="HandheldFriendly" content="true" />
  
	<meta name="author" content="Manik Rathee">
  <meta name="description" content="{{ page.title }}, a post by Manik Rathee. Manik is a User Experience Engineer, Designer and Developer.">
	<meta name="keyword" content="design, development, front end, photography, user experience, ux, manik, rathee, manik rathee">
  
  <meta itemprop="name" content="{{ page.title }} - blog.manikrathee.com">
  <meta itemprop="description" content="{{ page.subtitle }}">
  <meta itemprop="image" content="{{ page.featured-image-s }}">
  
	<meta property="og:title" content="{{ page.title }} - blog.manikrathee.com" />
  <meta property="og:description" content="{{ page.subtitle }}, a post by Manik Rathee. Manik is a User Experience Engineer, Designer and Developer." />
  <meta property="og:image" content="{{ page.featured-image-s }}" />
  
  <meta name="twitter:creator" content="@manikrathee">
  <link rel="publisher" href="https://plus.google.com/118337203025285830553?rel=author">
  
  <title>{{ page.title }} by Manik Rathee</title>
  
  
  
  <link rel="author" href="http://www.manikrathee.com">
  
	<link rel="shortcut icon" href="http://assets.manikrathee.com/global/images/favicon.ico">
	<link rel="apple-touch-icon-precomposed" href="http://assets.manikrathee.com/global/images/apple-touch-icon.png">
  <link rel="apple-touch-icon-precomposed" href="http://assets.manikrathee.com/global/images/apple-touch-icon.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://assets.manikrathee.com/global/images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://assets.manikrathee.com/global/images/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://assets.manikrathee.com/global/images/apple-touch-icon-144x144.png">
  
  
	<link rel="stylesheet" href="http://assets.manikrathee.com/blog/_global/css/style.css" type="text/css" media="screen" />
  
  <script src="http://assets.manikrathee.com/global/js/libs/modernizr-2.5.3.min.js"></script>
  <script type="text/javascript" src="http://use.typekit.com/aer2pvt.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>